<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<form th:object="${obj}" th:action="@{/clientdata}" method="post">
    <div class="form-group">
        <label for="title" class="mr-sm-2">Title</label>
        <input type="text" th:field="*{title}" class="form-control">
    </div>

    <div class="form-group">
        <label for="author" class="mr-sm-2">Customer Name</label>
        <input type="text" th:field="*{name}" class="form-control">
    </div>

    <div class="form-group">
        <label for="total" class="mr-sm-2">Total</label>
        <!-- Pre-fill the total field with data from the ClientData object -->
        <input type="text" th:field="*{total}" class="form-control" th:value="${obj.total}">
    </div>

    <button type="submit" class="btn btn-primary mb-2">Add The Books</button>
</form>

</body>
</html>
