<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>


  <table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Title</th>
            <th>Date</th>
            <th>total</th>
           
           
        </tr>
    </thead>
    <tbody>
        <tr th:each="book : ${show}">
            <td th:text="${book.name}">Name</td>
            <td th:text="${book.title}">Title</td>
            <td th:text="${book.date}">date</td>
            <td th:text="${book.total}">0</td>
           
         
           
        </tr>
    </tbody>
</table>
</body>
</html>