<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>





  <table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Language</th>
            <th>Number of Pages</th>
            <th>Genre</th>
            <th>Quantity</th>
            <th>Rate</th>
            <th>Total</th>
                        <th>Date</th>
                        <th>Add Books</th>
            
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="book : ${show}">
            <td th:text="${book.title}">Default Title</td>
            <td th:text="${book.author}">Default Author</td>
            <td th:text="${book.language}">Default Language</td>
            <td th:text="${book.number_of_pages}">0</td>
            <td th:text="${book.genre}">Default Genre</td>
            <td th:text="${book.quantity}">0</td>
            <td th:text="${book.rate}">0</td>
            <td th:text="${book.quantity * book.rate}">0</td>
                        <td th:text="${book.date}">0</td>
                        
               <td>
                <a th:href="@{'/addBook/' + ${book.id}}">Add Books</a>
            </td>          
            <td>
                <a th:href="@{'/delete/' + ${book.id}}">Delete</a>
                <a th:href="@{'/update/' + ${book.id}}">Update</a>
            </td>
        </tr>
    </tbody>
</table>


</body>
</html>